version: '2.1'
services:
  nginx: 
    image: nginx:latest
    container_name: production_nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - 80:80

  users-service:
    image: users-service:latest
    container_name: users-service

  fields-service:
    image: fields-service:latest
    container_name: fields-service

  forms-service:
    image: forms-service:latest
    container_name: forms-service

  groups-service:
    image: groups-service:latest
    container_name: groups-service

  answers-service:
    image: answers-service:latest
    container_name: answers-service

  db:
    image: postgres:latest
    container_name: postgres-docker
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - 8001:5432
  
  worker:
    image: export-worker-service:latest
    container_name: export-worker
    depends_on: 
      - rabbitmq
    environment:
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672

  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    hostname: "rabbitmq"
    ports:
      - 5672:5672

volumes:
  db-data:
